{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >


    <!-- ========================= -->
    <!-- Bootstrap CSS -->
    <!-- ========================= -->

    <link
        rel="stylesheet"
        href="{% static 'bootstrap/bootstrap.min.css' %}"
    >


    <!-- ========================= -->
    <!-- Bootstrap Icons -->
    <!-- ========================= -->

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    >


    <!-- ========================= -->
    <!-- Main CSS -->
    <!-- ========================= -->

    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >


    <!-- ========================= -->
    <!-- Header CSS -->
    <!-- ========================= -->

    <link
        rel="stylesheet"
        href="{% static 'css/header.css' %}"
    >


    <!-- ========================= -->
    <!-- Page Specific CSS -->
    <!-- ========================= -->

    {% block css_files %}{% endblock css_files %}


    <!-- ========================= -->
    <!-- Page Title -->
    <!-- ========================= -->

    <title>
        {% block page_title %}{% endblock page_title %}
    </title>

</head>


<body class="bg-body-secondary p-3 rounded">


    <!-- ========================= -->
    <!-- Header -->
    <!-- ========================= -->

    {% include "include/header.html" %}


    <!-- ========================= -->
    <!-- Main Content -->
    <!-- ========================= -->

    {% block page_content %}{% endblock page_content %}


    <!-- ========================= -->
    <!-- Footer -->
    <!-- ========================= -->

    {% include "include/footer.html" %}


    <!-- ========================= -->
    <!-- JavaScript -->
    <!-- ========================= -->

    {% block page_scripts %}

        <script
            src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"
        ></script>

    {% endblock page_scripts %}


</body>

</html>